{{PROJECT_NAME}}:

  outputs:
    dev:
      type: {{STORAGE_TYPE}}
      host: $DB_HOST
      port: $DB_PORT
      user: $DB_USER
      password: $DB_PASSWORD
      dbname: $DB_NAME
      schema: analytics
      threads: 4

    staging:
      type: {{STORAGE_TYPE}}
      host: $DB_HOST
      port: $DB_PORT
      user: $DB_USER
      password: $DB_PASSWORD
      dbname: $DB_NAME
      schema: analytics_staging
      threads: 4

    production:
      type: {{STORAGE_TYPE}}
      host: $DB_HOST
      port: $DB_PORT
      user: $DB_USER
      password: $DB_PASSWORD
      dbname: $DB_NAME
      schema: analytics_prod
      threads: 4

  target: dev
